
<style>
  .card-grid {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr
  }

  .card-header {
    /* text-align: center; */
    background-color:rgb(167, 231, 210);
  }

  .card {
    max-height: 325px;
  }

  .home {
    margin: auto;
    max-width: 800px;
  }

  .cell {
    display: flex;
    border-bottom: 1px solid #d9cdcd !important;
    justify-content: space-between;
  }

  .cell:last-child{
    border: 0;
  }

  .button-container {
    background-color: rgba(221, 221, 215, 0.377);
    display: flex;
    justify-content: space-between;
  }

  .card{
    overflow-y: auto;
  }

  .btn-info{
    background-color: rgb(110, 185, 185);
  }
  .btn-outline-info{
    color: rgb(110, 185, 185);
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<div class="home" role="main">
  <div class="button-container">
    <div>
      KDS
    </div>
    <div>
      <button [disabled]="isPreDisabled" (click)="onPre()" class="btn btn-outline-info">pre</button>
      <button [disabled]="isNextDisabled" (click)="onNext()" class="btn btn-outline-info">next</button>
    </div>
  </div>
  <div class="card-grid">
    <div class="card" *ngFor="let data of datas.slice(6*offset,6*offset + 6)"><label class="card-header">Order
        No.{{data.orderNo}}</label>
      <div class="card-contain">
        <ul class="list-group list-group-flush" *ngFor="let item of data.items">
          <li class="list-group-item cell">
            <div>{{item.name}}</div>
            <div><button class="btn btn-info">Process</button></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>