<style>
  .card-grid {
    display: grid;
    column-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr
  }

  .card-header {
    /* text-align: center; */
    background-color: #cdf0ea;
  }

  .card {
    max-height: 318px;
  }

  .home {
    margin: auto;
    max-width: 800px;
  }

  .cell {
    display: flex;
    border-bottom: 1px solid #d9cdcd !important;
    justify-content: space-between;
  }

  .cell:last-child {
    border: 0;
  }

  .button-container {
    background-color:#eeeeee;
    display: flex;
    justify-content: space-between;
  }

  .card {
    overflow-y: hidden;
  }

  .btn-info {
    background-color: #4cacbc;
    color: white;
  }

  .btn-outline-info {
    border: none;
    color: black;
  }

  .header-container {
    position: relative;
    z-index: 1000;
    width: 100%;
  }

  .header-button1 {
    position: absolute;
    background-color: #cdf0ea;
    border: none;
    right: 65px;
    top: 5px;
  }

  .header-button2 {
    position: absolute;
    background-color: #cdf0ea;
    border: none;
    right: 5px;
    top: 5px;
  }

  .card-header{
    width: 100%;
  }

  .button-label{
    margin-top: 4px;
    margin-left: 4px;
  }

  .item-label{
    margin-top: 6px;
  }

  .home{
    box-shadow: 0px 8px 15px #eeeeee;
  }

  .card-area{
    padding: 3px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<div class="home" role="main">
  <div class="button-container">
    <div class="button-label">
      KDS
    </div>
    <div>
      <button [disabled]="isPreDisabled" (click)="onPre()" class="btn btn-outline-info">pre</button>
      <button [disabled]="isNextDisabled" (click)="onNext()" class="btn btn-outline-info">next</button>
    </div>
  </div>
  <div class="card-area">
    <div id="card-grid" class="card-grid">
      <div class="card" *ngFor="let data of dataArray.slice(6*offset,6*offset + 6);let i = index" id="{{'card'+(i+6*offset)}}">
        <div class="header-container">
          <label class="card-header">Order
            No.{{data.orderNo}}</label>
            <button [disabled] = "isUpDis" class="header-button1" (click)="onUp(i + 6*offset)" *ngIf="data.isUpDown">UP</button>
            <button [disabled] = "isDownDis" class="header-button2" (click)="onDown(i + 6*offset)" *ngIf="data.isUpDown">down</button>
        </div>
        <div id="{{'card-contain'+(i+6*offset)}}" class="card-contain">
          <ul class="list-group list-group-flush" *ngFor="let item of data.items">
            <li class="list-group-item cell">
              <div class="item-label">{{item.name}}</div>
              <div><button class="btn btn-info">Process</button></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>